@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,800&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.home {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),url(gb1.png)no-repeat;
    background-size: cover;
    width: 100%;
    padding: 180px 0;
}

body {
    font-family: sans-serif;
}

section.us img {
    width: 120px;
    height: 150px;
    border-radius: 50%;
}



section.us .card {
    -webkit-box-shadow: 3px 2px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 24px -6px rgba(0,0,0,0.75);
}


.contact {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3));
    background-size: 100% 100%;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
}

.navbar-brand img {
    padding: 0;
    margin: 0;
}

.page-footer .text-uppercase {
    font-family: 'Nunito', sans-serif;
}

